.menu{
    background-color: black;
}
.menu ul{
    margin: 0;
    padding: 0;
    list-style: none;  
} 
.menu ul li{
    display: inline-block;
}
.menu ul li a{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: block;
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    transition: 0.5s;
}
.menu ul li a:hover{
    background-color: #157e27;
}
